.playerCards-container {
  display: flex;
  .allPlayers{
    margin: 20px;
    .card-holder{
      border: 2px solid green;
      cursor: pointer;
      margin-bottom: 8px;
    }
  }
  .player1 {
    border: 1px solid black;
  }
  .player2 {
    border: 1px solid black;
  }
}
