.deck-container {
  display: flex;
  padding-top: 20px;
  // height: 100%;
  // padding-bottom: 100px;
  flex-wrap: wrap;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
  .deck-PSC{
    background-color: white;
  }
}
