.playfield-container {
  // border: 2px solid red;
  margin-top: 80px;
  width: 800px;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .starter-card,
  .deck {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 50px;
    background-color: white;
    // bottom: 50px;
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
  }
  .card-0 {
    border: 2px solid red;
    margin-bottom: 250px;
    // position: absolute;
    // top: 200px;
    // bottom: 50px;
    // position: absolute;
    // top: 260px;
  }
  .card-1 {
    border: 2px solid orange;
    margin-left: 250px;
    // position: absolute;
    // top: 340px;
    // right: 450px;
    // position: absolute;
    // right: 35%;
    transform: rotate(-90deg);
  }
  .card-2 {
    border: 2px solid purple;
    margin-top: 250px;
    // position: absolute;
    // top: 450px;
    // position: absolute;
    // top: 540px;
  }
  .card-3 {
    border: 2px solid yellow;
    // position: absolute;
    margin-right: 250px;
    // left: 440px;
    // top: 330px;
    // float: left;
    // position: absolute;
    // left: 35%;
    transform: rotate(90deg);
  }
  .card-king {
    width: 50px;
    height: 100px;
    border: 1px solid black;
  }
  .setup-king {
    background-color: rgb(11, 38, 39);
    color: rgb(255, 255, 255);
  }
  .king-0 {
    margin-bottom: 180px;
    margin-right: 220px;
    // position: absolute;
    transform: rotate(125deg);
  }
  .king-1 {
    // position: absolute;
    margin-bottom: 180px;
    margin-left: 220px;
    transform: rotate(-125deg);
  }
  .king-2 {
    margin-top: 200px;
    margin-left: 200px;
    transform: rotate(-40deg);
  }
  .king-3 {
    margin-top: 200px;
    margin-right: 200px;
    transform: rotate(40deg);
  }
  .setup-spot {
    background-color: rgba(11, 38, 39, 0.644);
    height: 100px;
    width: 50px;
    border: none;
  }
  .NDeck {
    // border: 2px solid red;
  }
  .WDeck > div {
    border: 2px solid green;
    position: relative;
    top: 20px;
  }
  .startGame1{
    border: 2px solid purple;
  }
  .startGame2{
    border: 2px solid yellow;
  }
  .startGame3{
    border: 2px solid orange;
  }
  .startGame4{
    border: 2px solid red;
  }
}
